body {
  padding: 0;
  margin: 0;
}


#map,
body,
html {
  height: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: rgb(248, 155, 34);
  background: rgba(216, 231, 80, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}

body {
  
  background-image: url(images/occupation.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #d8d3c2;
}


h1 { color: #3b3939; 
  font-family: 'Lobster', cursive; 
  font-size: 36px; font-weight: normal; 
  line-height: 48px; margin: 0 0 18px; 
  text-shadow: 1px 0 0 #fff; }


  p { color: #333;
     font-family: 'Original Surfer', cursive; 
     font-size: 16px;
      line-height: 28px; 
      margin: 0 0 24px; }
 

      .my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }

    body:before, body:after {
      content: "";
      position: fixed;
      background: #900;
      left: 0;
      right: 0;
      height: 10px;
  }
  body:before {
      top: 0;
  }
  body:after {
      bottom: 0;
  }
  body {
      border-left: 10px solid #900;
      border-right: 10px solid #900;  
  }

  .h1 {
    background-image: linear-gradient(to right, #d534e9 50%, transparent 50%);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 6px 3px;
  }



  